body {
  font-family: Georgia, serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

#logo-image {
  width: 30px;
  margin-right: 10px;
}

/* Add your own custom styles here */

nav{
  display: flex;
  justify-content: space-around;
  background-color: lightgreen;
  color: black
}

nav span{
  display: flex;
  justify-content: space-around;
}

nav a{
  padding: 1rem;
}

.registerForm {
  display: flex;
  flex-wrap: wrap;
}










/* Initial state */
.nav-link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: black; /* Change this color to your preferred text color */
  background-color: lightgreen; /* Change this color to your preferred background color */
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover state */
.nav-link:hover {
  background-color: pink; /* Change this color to your preferred hover background color */
  color: black; /* Change this color to your preferred text color on hover */
}

/* Active state (when link is clicked) */
.nav-link.active {
  background-color: lightcoral; /* Change this color to your preferred active background color */
  color: black; /* Change this color to your preferred text color when active */
}
